<ol class="breadcrumb">
    <li class="active">Home</a></li>
</ol>

<br/>

<%- partial ('partials/statusmessage.ejs') %>

<h2>Users</h2>
<table class="table table-striped table-bordered">
  <tr>
    <th>ID</th>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Email</th>
    <th>Phone Number</th>
  </tr>
  <% if(typeof users != "undefined" && users.length > 0){ %>
    <% users.forEach(function(user){ %>
      <tr>
        <td><%= user.id %></td>
        <td><%= user.firstName %></td>
        <td><%= user.lastName %></td>
        <td><%= user.email %></td>
        <td><%= user.phoneNumber %></td>
      </tr>
    <% }) %>
  <% }else{ %>
      <tr>
        <td colspan="5">0 records found</td>
      </tr>
  <% } %>
  
</table>


